<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
</head>
<style>
    .pannel {
        margin-top: 50px;
    }

    .manager-group {
        background: #dc3545;
        border-radius: 25px;
        top: 20px;
        padding: 20px 20px 20px 20px;
        display: inline;
        color: white;
    }

    .manager-group .email {
        display: inline;
    }
</style>

<body>
    <center>
        <h1>Admin Dashboard</h1>
    </center>
    <h3>Update Managers</h3>

    <div id="managers">
        <!-- <div class="pannel">
                <div class="manager-group">
                    <div class="email">asdasdasdasdasd</div>
                    <button> Delete this</button>
                </div>
            </div> -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
    <script src="../keys/clientKey.js"></script>
    <script>
        var database = firebase.database();
        database.ref('/managers/').once('value').then(function (snapshot) {
            console.log(snapshot.val());
            var keys = Object.keys(snapshot.val());
            console.log(keys);
            var managers = document.getElementById("managers");
            var data = _.values(snapshot.val());
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                uid = data[i].uid.toString();
                console.log(typeof uid);
                console.log(uid);
                managers.insertAdjacentHTML('beforeend',
                    `<div class="pannel">
                        <div class="manager-group">
                            <div class="email">Current manager: `+ data[i].email + `</div> 
                            <input type="text" value="`+data[i].email+`" id="email"/>
                            <input type="password" placeholder="Enter a new password" id="pass1"/>
                            <input type="password" placeholder="Confirm password" id="pass2"/>
                            <input type="text" placeholder="Enter a new name" id="name"/>
                            <button onclick="handleUpdate(\'`+ uid + `\')">Update this</button>
                        </div>
                    </div>`
                )
            }
        });
        function handleUpdate(uid){
            alert(uid);
            var email = document.getElementById("email").value;
            var pass1 = document.getElementById("pass1").value;
            var pass2 = document.getElementById("pass2").value;
            var name = document.getElementById("name").value;

            if(pass1 === pass2){
                 window.location = `http://localhost:4040/update/`+uid+`/`+email+`/`+pass2+`/`+name+`/`;
            }
        }
    </script>
</body>

</html>