body, html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.fancyNav{
    width: 275px;
    height: 100%;
    background: #2A3F54;
    position: fixed;
    color: white;
    overflow: hidden;
    z-index: 100;
}
.fancyNav .user{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.452);
}
.fancyNav li{
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.452);
    position: relative;
}
.fancyNav li .iconsMenu{
    position: absolute;
    left: 10px;
    top: 15px;
}
li .textMenu{
    display: inline;
}
.fancyNav li:hover{
    color: rgb(160, 160, 160);
    cursor: pointer;
}
.fancyNav .btnMenu{
    position: fixed;
    top: 10px;
    left: 20px;
}
.fancyNav.disable{
    width: 75px;
}
.fancyNav.disable .user{
    opacity: 0;
}
.fancyNav.disable .textMenu{
    opacity: 0;
}
.listManagers{
    display: block;
    position: relative;
    background: #dc3545;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-weight: 900;
    transition: all 0.3s;
    border-radius: 30px;
}
.listManagers .buttonsActions{
    position: absolute;
    right: 30px;
    top: 10px;
}
.listManagers .fas {
    padding-left: 30px;
    opacity: 0;
    transition: all 0.3s;
}
.listManagers:hover .fas{
    opacity: 1;
}
.listManagers .fas:hover{
    color: #007bff;
    cursor: pointer;
}
.holder-page{
    width: 100%;
    height: 100%;
    padding-left: 300px;
    position: relative;
}
.holder-page h5{
    padding-top: 50px;
}
.inputs-holder{
    padding-top: 55px;
}
.allInputs{
    width: 250px;
    margin-top: 15px;
}
.textareaEdit{
    height: 300px;
}
.hotelDetails img{
    width: 400px;
    height: auto;
}
.roomContainer{
    width: 350px;
    padding: 10px 10px 10px 10px;
    background: #007bff;
    border-radius: 25px;
    padding-top: none;
    color: white;
    float: left;
    margin: 10px;
}
#containerRooms{
    position: relative;
    display: block;
}
.roomContainer img{
    width: 100%;
}
.dispBlock{
    display: block;
}
.logo-holder{
    font-size: 2.3rem;
    color: white;
    font-weight: 900;
    background: #dc3545;
}
.carousel{
    height: 450px;
    
}
.carouselHolder{
    height: 450px;

}
.carousel-inner{
    height: 450px;
    width: 100%;
}
.carousel-item{
    height: 450px;
}
.carousel-caption{
    padding: 20px 20px 20px 20px;
    background: #dc3545;
    text-transform: capitalize;
}
.carousel-caption h5{
    font-weight: 900 !important;
}
.container-fluid{
    padding: 0;
}
.carousel-inner > .carousel-item > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
  min-width: 100%;
  min-height: 450px;
}
.loader {
    border: 16px solid #dc3545; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 55px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.pos-abs-right{
    position: absolute;
    right: 25px;
    bottom: 25px;
}
.splashHolder{
    background: url("./../src/splashHolder.jpeg");
    background-size: cover;
}
.mt-50{
    margin-top: 50px;
}