body, html{
    padding: 0;
    margin: 0;
}
.fancyNav{
    width: 275px;
    height: 100%;
    background: #2A3F54;
    position: fixed;
    color: white;
    overflow: hidden;
    z-index: 100;
}
.fancyNav .user{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.452);
}
.fancyNav li{
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.452);
    position: relative;
}
.fancyNav li .iconsMenu{
    position: absolute;
    left: 10px;
    top: 15px;
}
li .textMenu{
    display: inline;
}
.fancyNav li:hover{
    color: rgb(160, 160, 160);
    cursor: pointer;
}
.fancyNav .btnMenu{
    position: fixed;
    top: 10px;
    left: 20px;
}
.fancyNav.disable{
    width: 75px;
}
.fancyNav.disable .user{
    opacity: 0;
}
.fancyNav.disable .textMenu{
    opacity: 0;
}
.listManagers{
    display: block;
    position: relative;
    background: #dc3545;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-weight: 900;
    transition: all 0.3s;
    border-radius: 30px;
}
.listManagers .buttonsActions{
    position: absolute;
    right: 30px;
    top: 10px;
}
.listManagers .fas {
    padding-left: 30px;
    opacity: 0;
    transition: all 0.3s;
}
.listManagers:hover .fas{
    opacity: 1;
}
.listManagers .fas:hover{
    color: #007bff;
    cursor: pointer;
}
.holder-page{
    width: 100%;
    height: 100%;
    padding-left: 300px;
    position: relative;
}
.holder-page h5{
    padding-top: 50px;
}
.inputs-holder{
    padding-top: 55px;
}
.allInputs{
    width: 250px;
    margin-top: 15px;
}
.textareaEdit{
    height: 300px;
}
.hotelDetails img{
    width: 400px;
    height: auto;
}
.roomContainer{
    width: 350px;
    padding: 10px 10px 10px 10px;
    background: #007bff;
    border-radius: 25px;
    padding-top: none;
    color: white;
    float: left;
    margin: 10px;
}
#containerRooms{
    position: relative;
    display: block;
}
.roomContainer img{
    width: 100%;
}
.dispBlock{
    display: block;
}